@using AdminPanel.Models
@{
    int count = 0;
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Striped Table</h4>

            <a class="btn btn-success" asp-contoller="category" asp-action="create" >Add Category</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                 Name
                            </th>
                            <th>
                                Product Count
                            </th>
                            <th>
                                Settings
                            </th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Category item in Model.Categories)
                        {
                            count++;
                                <tr>
                            <td >
                                 @count
                            </td>
                            <td>
                                    @item.Name
                            </td>
                            <td>
                                <div>
                                        @item.Products.Count
                                </div>
                            </td>
                                <td>
                                    <a asp-action="update" asp-route-id="@item.Id" class="btn btn-warning"> update</a>
                                    <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger"> delete</a>
                                    <a asp-action="detail" asp-route-id="@item.Id"" class="btn btn-primary"> detail</a>
                                </td>
                        </tr>
                        }
                     
                    
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>